<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produty</h1>


    <% for( p of products){ %>
            <div>

                <h2><%= p.name %></h2>
                <p>price: <%= p.price %> , Qty:<%= p.qty %></p>

            </div>


    <% } %> 
</body>
</html>